<!-- <div ng-include="take_action/back.html"></div> -->
<a class="btn btn-primary" ui-sref="take_action">back</a>

<marked>
Here's the government contacts for this area:

*District 4 - Councilor Blake Ewing*
[dist4@tulsacouncil.org](mailto:dist4@tulsacouncil.org)
[blake@blakeewing.com](mailto:blake@blakeewing.com)
[@blake_ewing](http://twitter.com/blake_ewing)

*City of Tulsa - Mayor Dewey Bartlett*
918-596-2100
[mayor@cityoftulsa.org](mailto:mayor@cityoftulsa.org)
[Reporting Problems](https://www.cityoftulsa.org/reporting/reporting-problems.aspx)

*Oklahoma House District 78 - Representative Jeannie McDaniel*
405-557-7334
[jeanniemcdaniel@okhouse.gov](mailto:jeanniemcdaniel@okhouse.gov)
</marked>

<div ui-view="action_area"></div>
