{{action_text}}

<a ui-sref="take_action.tell_the({who: 'government'})" class="btn btn-success fill large">Tell the Government</a>
<a ui-sref="take_action.tell_the({who: 'media'})" class="btn btn-success fill large">Tell the Media</a>
<a ui-sref="take_action.share" class="btn btn-success fill large">Share this Data</a>
<a ui-sref="take_action" class="btn btn-success fill large">Your Health Score</a>
<a ui-sref="take_action" class="btn btn-success fill large">Improve Your Community</a>
<a ui-sref="feedback" class="btn btn-success fill large">Tell the HealthAround.me Team</a>
