<marked>
HealthAround.me is an [open source](https://github.com/CivicNinjas/HealthAround.me), web based, geo enabled health data mapping &amp; visualization tool to aggregate disparate public health data from multiple sources.  It was developed by [Civic Ninjas](http://civicninjas.org/) to answer the question, "[What do I know about the health around me](https://www.newschallenge.org/challenge/healthdata/entries/how-to-harness-data-and-information-for-the-health-of-communities-aka-sitegeist-for-health-data)?" Support for this proof of concept project was provided by the [John S. and James L. Knight Foundation](http://knightfoundation.org/) through their [Prototype Fund](http://www.knightfoundation.org/funding-initiatives/knight-prototype-fund/).  The bulk of our work has focused on hyper local aggregation of data related to the social determinants of health (SDOH) using the [HealthyPeople.gov model for SDOH](http://www.healthypeople.gov/2020/topicsobjectives2020/overview.aspx?topicid=39).

Through this project we have identified significant amounts of data related to SDOH. We have aggregated a subset of this data based on the time and funding available. We are currently working to expand the project and available data as time and funding allows.

Our current data sources are:
- [The Dartmouth Atlas of Health Care](http://www.dartmouthatlas.org).
- [U.S. Census Data](http://www.census.gov), American Community Survey, 2008-2012 5-year estimates.
- [U.S. Department of Agriculture Economic Research Service](http://ers.usda.gov).

We've included data for:
- Maryland
- Massachusetts
- Oklahoma
- Pennsylvania
- Virginia
- Washington, D.C.

HealthAround.Me is:
- Scott Philips
- John Whitlock
- Jeremy Satterfield
- John Dungan
- Patrick Forringer
- Joe Watkins
- Adam Brimer
</marked>

<a class="btn btn-primary large fill" ui-sref="feedback">Feedback</a>
