<div marked="metric.score_text.markdown"></div>

<a ng-click="go_back()" class="btn fill">Back to exploring</a>

<leaflet center="center" geojson="geojson" height="280px" id="boundary-map"></leaflet>

<div class="read-more-section" ng-if="metric.more_data">
    <div ng-repeat="data in metric.more_data">
        <a href="{{data.link}}" class="btn fill">{{data.text}}</a>
    </div>
</div>

<h3>Why is this important?</h3>
<div marked="metric.why_text.markdown"></div>

<h3>References</h3>
<ul class="references">
    <li ng-repeat="ref in metric.references" marked="ref.markdown"></li>
</ul>

<a class="btn btn-success large fill" ui-sref="take_action">Take Action</a>
