@import 'variables'
@import 'h5bp'
@import 'buttons'
@import 'nib/gradients'

html
    height: 100%

body
    // background: #25382F
    // color: rgba(white, 0.7)
    font-family:   "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
    font-weight: 300
    font-size: $base_font_size
    margin: 0
    padding: 0
    height: 100%
    position: relative

    // slide everything to the left when menu is open
    &.menu-open
        #page-wrapper
        #main-menu
           transform: translate3d(-($nav_width), 0px, 0px)

.content
    padding: 0 10px
    margin: 12px 0

// All the stuff to do with making the slide out menu snazzy
#page-wrapper
    // min-height: 100%
    overflow-x: hidden
    position: relative
    right: 0
    transition: all $nav_transition_duration ease
    transform: translate3d(0px, 0px, 0px)

#main-menu
    height: 100%
    position: fixed
    z-index: $menu_zindex
    top: 0
    background: linear-gradient(left, rgba(black, 0.15) 0%, rgba(black, 0) 25%), linear-gradient(top right, #746E70, #53616D)
    width: $nav_width
    right: -($nav_width)
    transform: translate3d(0px, 0px, 0px)
    transition: all $nav_transition_duration ease
    // border-left: 2px solid $good_color
    user-select: none
    ul
        margin-top: $menu_height + 1px
        li
            a
                display: block
                padding: 5px 10px
                text-align: right
                font-weight: 400
                text-decoration: none
                text-transform: uppercase
                letter-spacing: 1px
                transition: letter-spacing 0.1s ease, background-color 0.4s ease
                color: white
                text-shadow: 0 1px 3px rgba(0,0,0,0.4)
                background-color: transparent
                &:hover
                    letter-spacing: 2px
                    background-color: rgba($good_color, 0.4)
            &.active
                a
                    background-color: $good_color

#menu-toggle
    position: absolute
    width: $menu_height
    height: $menu_height
    top: 0
    right: 0
    display: block
    line-height: $menu_height
    cursor: pointer
    z-index: $menu_zindex + 10
    text-decoration: none
    font-size: 50px
    user-select: none
    .lines
        display: block
        position: relative
        top: -3px
        left: 0
        color: white
        transition: left 0.3s ease, color 0.3s ease
        &:before
        &:after
            content: '–'
            display: block
            font-weight: 300
            position: absolute
            left: 0
            top: -6px
            transition: transform 0.3s ease, color 0.3s ease
            transform-origin: 4px 24px
        &:after
            top: 6px
        .menu-open &
            color: rgba($bad_color, 0)
            left: 7px
            &:before
            &:after
                color: $bad_color
            &:before
                transform: rotate(45deg)
            &:after
                transform: rotate(-45deg)
            // &:hover


#page-wrapper header
    height: $menu_height
    background-color: #53616D
    border-bottom: 1px solid rgba(darken(#53616D, 20%), 0.5)
    padding: 0 10px
    h1
        margin: 0
        font-size:  $base_font_size + 3px
        font-weight: 300
        line-height: $menu_height
        color: white

@import 'pages/home.styl'
@import 'pages/location.styl'
@import 'pages/score.styl'
@import 'pages/take_action.styl'
@import 'pages/cards.styl'
