.feedback-form

    textarea
    input
        width: 100%
        display: block
        box-sizing: border-box
        border: 1px solid gray
        padding: 5px 8px
        margin: 0 0 10px

    #user-message
        min-height: 100px
    button
        float: right
